@{
  import (
    "github.com/mgutz/gorazor/example/views/layout/default"
    "github.com/mgutz/gorazor/example/models"
  )
  var user *models.User
}

<p>Escaped: @UnsafeHello(user.Name)</p>
<p>Unescaped: @SafeHello(user.Name)</p>

@Raw("<h2>Heading 2</h2>")

@section js {
<script>
  alert('Hello, @user.Name');
</script>
}

@section title {
  @"Cool Site"
}

