@{
    var body gorazor.SafeBuffer
    var js gorazor.SafeBuffer
    var title gorazor.SafeBuffer
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
</head>
<body>
    <div class="container">@body</div>
    @js
  </body>
</html>
