@{
    +func(body, css, js gorazor.SafeBuffer, title string)
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>
    @css
</head>
<body>
    <div class="container">@body</div>
    @js
  </body>
</html>
